USE [master]
GO
/****** Object:  Database [TasksDb]    Script Date: 21.10.2019 01:17:04 ******/
CREATE DATABASE [TasksDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TasksDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TasksDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TasksDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\TasksDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TasksDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TasksDb]
GO
/****** Object:  User [Adam_DB]    Script Date: 21.10.2019 01:17:04 ******/
CREATE USER [Adam_DB] FOR LOGIN [Adam_DB] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 21.10.2019 01:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [text] NULL,
	[Priority] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Priority]  DEFAULT (N'normalny') FOR [Priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Status]  DEFAULT (N'nowy') FOR [Status]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CK_Tasks] CHECK  (([Priority]='wysoki' OR [Priority]='normalny' OR [Priority]='niski'))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CK_Tasks]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CK_Tasks_1] CHECK  (([Status]='zakończony' OR [Status]='w realizacji' OR [Status]='nowy'))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CK_Tasks_1]
GO
USE [master]
GO
